<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Добавить новую позицию</h3>
<form action="add" method="post">
    Наименование <input type="text" name="name"> <br><br>
    Размер <input type="number" name="size"> <br><br>
    Цена <input type="number" name="price"> <br><br>
    Цвет <input type="text" name="color"> <br><br>
    Бренд <input type="text" name="brand"> <br><br>
    Артикул <input type="number" name="articleNumber">
    <br>
    <br>
    <button type="submit" class="btn btn-outline-primary">Добавить</button>
</form>
</div>
</body>
</html>