<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h3>Внести изменения</h3>
<form action="update" method="post" th:object="${catalog}">
    <input type="hidden" th:field="*{id}">
    Наименование <input type="text" name="name" th:field="*{name}"><br><br>
    Размер <input type="number" name="size" th:field="*{size}"><br><br>
    Цена <input type="number" name="price" th:field="*{price}"><br><br>
    Цвет <input type="text" name="color" th:field="*{color}"><br><br>
    Бренд <input type="text" name="brand" th:field="*{brand}"><br><br>
    Артикул <input type="number" name="articleNumber" th:field="*{articleNumber}">
    <br>
    <br>
    <button type="submit" class="btn btn-outline-primary">Редактировать</button>
</form>
</div>
</body>
</html>